/* CSS declarations go here */

.logo {
	background: #eeb211;
	margin-top: 1px;
	height: 120px;
	position: relative !important;
}

.logo img {
	max-width: 95%;
	position: absolute;
	bottom: 0;
	margin-left: 3px;
	margin-bottom: 3px;
}

.logo a{
	position: absolute;
	right: 0;
	bottom: 0;
}

.topbar {
	margin-top: 20px;
	font-weight: bold;
}

.topbar a{
	line-height: 5px !important;
	color: #000 !important; 
	-webkit-border-radius: 0 !important;
	border-radius: 0 !important;
}

.topbar .active a{
	background-color: #eeb211 !important;
	border: 1px #eeb211 solid !important;
	color: #fff !important;

}

.nav-tabs{
	border-bottom: 5px solid #eeb211 !important;
}

.aboutimg{
	max-width: 900px !important;
}

@media (max-width: 480px) { 
    .nav-tabs > li {
        float:none !important;
    }
}