/* CSS declarations go here */

.logo {
	background: #eeb211;
	margin-top: 1px;
	height: 100px;
	position: relative !important;
}

.logo img {
	max-width: 95%;
	position: absolute;
	bottom: 0;
	margin-left: 3px;
	margin-bottom: 3px;
}

.logo a{
	position: absolute;
	right: 0;
	bottom: 0;
}

.topbar {
	margin-top: 20px;
	font-weight: bold;
}

.topbar .nav-tabs a{
	line-height: 5px;
	color: #000; 
	-webkit-border-radius: 0;
	border-radius: 0;
}

.topbar .nav-tabs .active a{
	background-color: #eeb211;
	border: 1px #eeb211 solid;
	color: #fff !important;

}

.topbar .nav-tabs{
	border-bottom: 5px solid #eeb211;
}

.aboutimg{
	max-width: 900px !important;
}

@media (max-width: 480px) { 
    .nav-tabs > li {
        float:none !important;
    }
}

.logo a{
	position: absolute;
	right: 0;
	bottom: 0;
}

.right-pane .nav-tabs a{
	line-height: 5px;
	color: #000; 
	-webkit-border-radius: 0;
	border-radius: 0;
}

.right-pane .nav-tabs .active a{
	background-color: #eeb211;
	border: 1px #eeb211 solid;
	color: #fff !important;

}

.right-pane .nav-tabs{
	border-left: 5px solid #eeb211;
}

.slider { position: relative; overflow: auto; }
    .slider li { list-style: none; }
        .slider ul li { float: left; }